body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    /* Add display: flex */
    justify-content: space-between;
    /* Align items at the top and leave space for the name */
    align-items: flex-start;
    /* Align items at the top */
    ;
}

nav {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

main {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#usernameContainer {
    display: inline-block;
    /* To ensure that the username is displayed inline */
}